<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
        <immediateFlush>false</immediateFlush>
    </appender>

    <!-- uncomment and set to DEBUG to log all failing HTTP requests -->
    <!-- uncomment and set to TRACE to log all HTTP requests -->
    <!--<logger name="io.gatling.http.engine.response" level="TRACE" />-->

    <!--
    WARN vs TRACE:
    WARN logs only warning messages and higher severity levels (ERROR, WARN).
    TRACE logs the most detailed messages and includes TRACE, DEBUG, INFO, WARN, and ERROR.

    Use WARN for production to avoid excessive logs.
    Use TRACE only for detailed debugging/troubleshooting because it generates many logs.
    -->

    <root level="TRACE">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>